<div class="index_links">
  <ul>
    <li id="edit"><a class="menu_links" href="/animals/new"> <i class="fa fa-paw" aria-hidden="true"></i> Add New Animal</a></li>
  
    <li id="all"><a class="menu_links" href="/animals/all"> <i class="fa fa-paw" aria-hidden="true"></i> View or Edit Animals</a></li>
  </ul>
</div>
