<div class="index_links">
  <ul>
    <li id="edit"><a class="menu_links" href="/animals/new"> <i class="fa fa-paw" aria-hidden="true"></i>Add New Animal</a></li>
    <li id="all"><a class="menu_links" href="/animals/all"> <i class="fa fa-paw" aria-hidden="true"></i> View or Edit Animals</a></li>
  </ul>
</div>
<!-- <div class="index_links">

<a class="menu_links" id="edit" href="/animals/new"> <i class="fa fa-paw" aria-hidden="true"></i>  Add New Animal</a>
<br>
<br>
<br>
<a class="menu_links" id="all" href="/animals/all"> <i class="fa fa-paw" aria-hidden="true"></i>  View / Edit Animals</a>

</div> -->
