<form method="post" action="/animals">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name" />

  <label for="type-select">Select animal type:</label>
  <select id="type" name="type">
    <option value="Dog">Dog</option>
    <option value="Cat">Cat</option>
  </select>

  <label for="breed">Breed:</label>
  <input id="breed" type="breed" name="breed" />

  <label for="admission-date">Admission Date:</label>
  <input id= "admission-date" type="date" name="admission_date" />

  <label for="adoptable-select">Ready for Adoption:</label>
  <select id="adoptable" name="adoptable">
    <option value="true">True</option>
    <option value="false">False</option>
  </select>


<input type="submit" value="Submit New Animal" />

</form>
