<%= @adoptions.each do |adoption|%>
  <p><%= %></p>


<%end%>


<!--
@id = options['id'].to_i() if options['id']
@animal_id = options['animal_id'].to_i()
@customer_id = options['customer_id'].to_i()
@date_adopted = Date.parse(options['date_adopted'])
@checkup_date = Date.parse(options['checkup_date']) -->
