
<div class="index_links">
  <ul>
    <li id="edit"><a class="menu_links" href="/adoptions/new"> <i class="fa fa-plus" aria-hidden="true"></i> Add New Adoption</a></li>

    <li id="all"><a class="menu_links" href="/adoptions/all"> <i class="fa fa-plus" aria-hidden="true"></i> View All Adoptions</a></li>
  </ul>
</div>
