<form method="post" action="/adoptions">

  <label for="animal_id">Animal ID:</label>
  <input id="animal_id" type="text" name="animal_id"

  <label for="customer_id">Customer ID:</label>
  <input id="customer_id" type="text" name="customer_id"

  <label for="date_adopted">Date of Adoption:</label>
  <input id= "date_adopted" type="date" name="date_adopted" />

  <label for="checkup_date">Date for Check-Up:</label>
  <input id= "checkup_date" type="date" name="checkup_date" />

  <input type="submit" value="Submit New Adoption" />

</form>
