<form method="post" action="/adoptions">

  <label for="animal_id_field">Animal ID: </label>
  <input id="animal_id" type="text" name="animal_id" />

  <label for="customer_id_field">Customer ID: </label>
  <input id="customer_id" type="text" name="customer_id" />

  <label for="date_adopted_field">Date of Adoption: </label>
  <input id= "date_adopted" type="date" name="date_adopted" />

  <label for="checkup_date_field">Date for Check-Up: </label>
  <input id= "checkup_date" type="date" name="checkup_date" />
<br>
<br>
  <input id="submit_button" type="submit" value="Submit New Adoption" />

</form>
