<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  <title>Embarkment Animal Shelter</title>
</head>
<body>

<nav class="navbar">
    <img class="logo" src="/underground.png">
      <div="navmenu">
      <ul>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/animals">ANIMALS</a>
        </li>
        <li>
          <a href="/adoptions">ADOPTIONS</a>
        </li>
        <li>
          <a href="/customers">CUSTOMERS</a>
        </li>
      </ul>
    </div>
</nav>
<div class= "body">
  <%= yield %>
</div>
</body>
</html>
