html{
  background-color: rgb(109, 160, 242);
}
.navbar {
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  border-bottom: solid 1px black;
}

ul {
  padding: 0;
  text-align: center;
  margin-left: -100px;
}

li {
  color: #14213D;
  display: inline-block;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 25px 30px;
  text-transform: uppercase;
}

.logo {
  max-width: 120px;
  float: left;
  margin-right: -110px;
  padding-top: 5px;
  padding-left: 30px;
  padding-bottom: 5px;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:hover{

}
a:active{

}

.animal_pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: black solid 1px;
}

.body {
  margin-top: 150px;
}

.container{
  border: solid 1px black;
  color: black;
  margin: 0 1% 2% 1%;
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  width: 28%;
  background-color: white;
}

.welcome{
  margin: auto;
   width: 50%;
   border: 3px solid white;
   max-width: 400px;
   display: block;
   margin: auto;

}
