html{
  background-color: rgb(116, 157, 201);
  font-size: 18px;
}


.navbar {
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  border-bottom: solid 1px black;
}

ul {
  padding: 0;
  text-align: center;
  margin-left: -100px;
}

li {
  color: #14213D;
  display: inline-block;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 25px 50px;
  text-transform: uppercase;
}

.logo {
  max-width: 120px;
  float: left;
  margin-right: -110px;
  padding-top: 5px;
  padding-left: 30px;
  padding-bottom: 5px;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: inherit;
}


.animal_pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: black solid 1px;
}

.body {
  margin-top: 150px;
}

.container{
  border: solid 1px black;
  color: black;
  margin: 0 1% 2% 3%;
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  width: 28%;
  background-color: white;
  font-family: sans-serif;
}

.welcome{
  margin: auto;
   width: 50%;
   border: 5px solid white;
   max-width: 400px;
   display: block;
   margin: auto;
}

.menu_links {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  vertical-align: central;
  font-size: 35px;
  text-decoration: none;
  font-family: 'Cabin';
}

#edit, #all{
  display: block;
  border: 5px solid white;
  padding: 20px;
  color: white;
}

#edit {
background-color: #4CAF50;
}

#all {
  background-color: #f44336;
}

.index_links{
  display: block;
  margin-left: 27%;
  width: 50%;
}

td{
  text-align: center;
  font-family: 'Helvetica', sans-serif;
}

tr{
  vertical-align: middle;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
}

#button {
    background-color: #f44336;
    color: white;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}

tr:nth-child(even) {background: white}

form{
  font-family: 'helvetica', sans-serif;
}

#submit_button {
  display: block;
  float: right;
  margin-right: 40px;
  background-color: #4CAF50;
  border: solid 1.5px white;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
