
<div class="index_links">
  <ul>
    <li id="edit"><a class="menu_links" href="/customers/new"> <i class="fa fa-users" aria-hidden="true"></i> Add New Customer</a></li>

    <li id="all"><a class="menu_links" href="/customers/all"> <i class="fa fa-users" aria-hidden="true"></i> View or Edit Customers</a></li>
  </ul>
</div>
