<form method="post" action="/customers">

  <label for="first_name">First Name:</label>
  <input id="first_name" type="text" name="first_name" />

  <label for "last_name">Last Name:</label>
  <input type="text" name="last_name" id="last_name" />

  <label for="phone">Phone Number:</label>
  <input id="phone" type="text" name="phone" />

  <label for="email">Email Address:</label>
  <input id= "email" type="text" name="email" />

  <br>
  <br>
  <label for="address_line_1">Address Line 1:</label>
  <input id= "address_line_1" type="text" name="address_line_1" />

  <label for="address_line_2">Address Line 2:</label>
  <input id= "address_line_2" type="text" name="address_line_2" />

  <label for="address_city">City:</label>
  <input id= "address_city" type="text" name="address_city" />

  <label for="address_post_code">Post Code:</label>
  <input id= "address_post_code" type="text" name="address_post_code" />
<br>
<br>
<input id="submit_button" type="submit" value="Submit New Customer" />

</form>
